{# layout.twig #}
<!DOCTYPE HTML>
<html lang="en-US">
<head>
    {% block head %}
        {# Head #}
        {# @note @silex EN : get site base url with app.request.baseurl #}
        <meta charset="UTF-8">
        <title>{{ app['options'].get('site_title') ~ " | " ~  app['options'].get('tagline') }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <!-- styles -->
        {% block stylesheets %}
            <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700' rel='stylesheet'>
            <link rel="stylesheet" href="{{ app.request.getUriForPath('/vendor/bootstrap/css/bootstrap.min.css') }}">
            <link rel="stylesheet"
                  href="{{ app.request.getUriForPath('/vendor/bootstrap/css/bootstrap-responsive.min.css') }}">
            <link rel="stylesheet" href="{{ app.request.getUriForPath('/css/style.css') }}">
        {% endblock %}
    {% endblock %}
</head>
<body>
{% include "main-nav.twig" %}
<div class="container">
    <div class="row">
        <noscript>
            <div class='alert-error'>
                <h1>Please enable Javascript to have the best experience with that website. thank you.</h1>
            </div>
        </noscript>
        <div class="span12">
            {% include 'flash-message.twig' %}
        </div>
    </div>
    {% block herounit %}
    {% endblock %}
    <div class="row">

        {% block left_sidebar %}
        {% endblock %}
        {% block content %}
        {% endblock %}
        {% block right_sidebar %}
            {% include 'sidebar.twig' %}
        {% endblock %}
    </div>
</div>
<div class='well'>
    {% include 'footer.twig' %}
</div>
{% block javascripts %}
    <script type="text/javascript" src="{{ app.request.getUriForPath('/vendor/jquery/jquery.js') }}">
    </script>
    <script type="text/javascript" src="{{ app.request.getUriForPath('/js/postMetadatas.js') }}"></script>
    <script type="text/javascript"
            src="{{ app.request.getUriForPath('/vendor/bootstrap/js/bootstrap.min.js') }}"></script>
    {% include 'analytics.twig' %}
{% endblock %}
</body>
</html>
