{% extends app["sp.media.template.layout"] %}
{% block content %}
    <div class="span8">
        <h3>Media Library
            <small><a href="{{ url("sp.admin.media.create") }}">Add new</a></small>
        </h3>
        <ul class="inline">
            <li>All ( {{ attachment_count }} )</li>
            <li>|</li>
            <li>Images ( {{ attachment_count }} )</li>
            <li>|</li>
            <li>Unattached ( {{ attachment_count }} )</li>
        </ul>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th></th>
                <th></th>
                <th>File</th>
                <th>Author</th>
                <th>Uploaded to</th>
                <th>Comments</th>
                <th>Date</th>
            </tr>
            </thead>
            <tbody>
            {% for  attachment in attachments %}
                <tr>
                    <td><input type="checkbox" name="attachment[]" value="{{ attachment._id }}"/></td>
                    <td>
                        <a href="{{ url("sp.admin.media.edit",{id:attachment._id}) }}">
                            <img height="100px" style="height:100px";
                            src="{{ path("sp.admin.media.serve",{id:attachment.guid,filename:attachment.post_name}) }}"
                            alt="{{ attachment.post_title }}"/>
                        </a>
                    </td>
                    <td>
                        {{ attachment.post_name }}
                    </td>
                    <td>
                        {{ attachment.post_author|default("") }}
                    </td>
                    <td></td>
                    <td></td>
                    <td>{{ attachment.post_modified.sec|date() }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}