{% set postUrl= url('sp.front.post.read',{'id':post._id,'title':post.getPostTitle()}) %}
<h3>
    <a style='color:#000;' href='{{ postUrl }}'>{{ post.post_title }}</a>
</h3>
<p class="author">
    <small>
        {% if post.getPostAuthor() is not null %}
            <i class="icon-user"></i>
            <a href="#">{{ app.user_manager.getById(post.getPostAuthor()).getUsername() }}</a>
            |
        {% endif %}
        <i class="icon-calendar"></i>
        {{ post.getPostDate()|date(app["sp.core.service.option"].get('date_format')|default("Y-m-d")) }}
        |
        <i class='icon-comment'></i>
        <a href="{{ postUrl }}#comments">
            {{ app['sp.core.service.comment'].count({"post_id":post._id})|length }}
            Comments
        </a>
    </small>
</p>
{% autoescape true %}
<p>{{ post.post_content|striptags|slice(0,300) }}...</p>
{% endautoescape %}
{% if post.tags is iterable %}
    {% include 'silexpress/front/post/tags/index.twig' with {tags: post.tags} only %}
{% endif %}
</p>
<p><a href='{{ postUrl }}' class="btn btn-info">Read more</a></p>
<hr>