{% extends app['sp.core.template.front.layout'] %}
{% block content %}
    <div class="span12">
        <h2>{{ post.getPostTitle() }}</h2>

        <h1>&nbsp;</h1>

        <p class="author">
            <i class="icon-user"></i>
            <small>
                {% set username = app.user_manager.getById(article.user_id).username %}
                <a href="{#{path('article.getbyusername',{username: username})}#}">{{ username }}</a>
                |
                <i class="icon-calendar"></i>
                {{ post.getPostDate()|date(app["sp.core.service.option"].get('date_format')|default("Y-m-d")) }}
                |
                <i class="icon-comment"></i><a
                        href='#comments'>{{ app['comment_manager'].getCommentsByArticleId(article._id)|length }}
                    Comments</a></small>
        </p>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {#{% set user = app['user_manager'].getUser() %}#}
            {#{% if app['article_manager'].belongsTo(article._id,user._id) %}#}
            <a class='btn btn-small' href="{{ url('mp_crud_post_update',{id:post.getId()}) }}">Edit</a>
            {#{% endif %}#}
        {% endif %}
        <div>
            {% autoescape false %}
            {{ post.post_content|striptags(app['silexblog.config.allowedTags']) }}
            {% endautoescape %}
        </div>
        <hr/>
        <div class='row-fluid'>
            {% if post.tags %}
                {% include 'silexpress/front/post/tags/index.twig' with {tags: post.tags} only %}
            {% endif %}
        </div>
        <hr/>
        <a name='comments'></a>
        {#@note @silex render a controller in twig #}
        <div>{{ render(path("comment.index",{'article_id': post._id})) }}</div>
        <div>{{ render(path("comment.create",{'article_id': post._id})) }}</div>
    </div>
{% endblock %}